 .navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

 .jumbotron {
  margin-bottom: 0;
}

footer {
  margin-left:20px;
  margin-top:180px;
}

.paddin {
  padding: 2%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map, #pano {
  margin-top: 20px;
  height: 70%;
  width: 100%;
}